body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-violet {
    @apply w-2/3 h-11 rounded border-none bg-violet-600 text-sm text-white font-semibold hover:bg-violet-500;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(124 58 237);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 117, 255);
}
